# Session 4

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
d

{'cat': 'cute', 'dog': 'furry'}

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for key, legs in d.items():   # enumerate
    print(f'A {key} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]

even_num_to_square = { x : x ** 2 for x in nums if x % 2 == 0 }
#operation (key) : operation (value) , iterator , condition
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

task 

1- create list range 3,20    

2- put in dictionary comprehension with 

3- if condition greater than 11 

4- print value * 10 + 2

In [ ]:
nums = {'ahmed':20,'moh':15,'aaa':25}

agemult2 = { x: y * 2 for x,y in nums.items()  }
print(agemult2)

{'ahmed': 40, 'moh': 30, 'aaa': 50}

#### 3- Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
list1 = ['ahmed','mahm', 'mahm']
list1

['ahmed', 'mahm', 'mahm']

In [ ]:
len(list1)

3

In [ ]:
set1 = {'ahmed','mahm', 'mahm'} # curly bracket
set1

{'ahmed', 'mahm'}

In [ ]:
len(set1)

2

In [ ]:
animals = {'cat', 'dog'}

print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals

{'cat', 'dog'}

In [ ]:
animals.add('cat')      # Add an element to a set

In [ ]:
animals

{'cat', 'dog'}

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print(f'{idx + 1} {animal}')

1 fish
2 cat
3 dog

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
r = {x for x in range(26)}
r

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

In [ ]:
int(1.4142135623730951)

1

In [ ]:
from math import sqrt

print([ int(sqrt(x)) for x in range(26)  ])  # operation  (square root) , iterator , condition

[0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5]

In [ ]:
print({ int(sqrt(x)) for x in range(26)  })  # operation  (square root) , iterator , condition

{0, 1, 2, 3, 4, 5}

task 

1- make set comprehenion 

2- value from 22 to 66

3- operation sqrt + value * 2

4- condition number is divided by 3

In [ ]:
print({ int(sqrt(x))+x*2 for x in range(22,66) if x %3 ==0 })  # operation  (square root) , iterator , condition

{96, 65, 133, 102, 71, 109, 78, 115, 52, 84, 121, 90, 59, 127}

#### 4- Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = (1 ,  4.1 ,'Ai')
d

(1, 4.1, 'Ai')

In [ ]:
d[2] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
d = {x : (x, x * 2) for x in range(10)}  # Create a dictionary with tuple keys
d

{0: (0, 0),
 1: (1, 2),
 2: (2, 4),
 3: (3, 6),
 4: (4, 8),
 5: (5, 10),
 6: (6, 12),
 7: (7, 14),
 8: (8, 16),
 9: (9, 18)}

In [ ]:
d = {(x, x * 2) : x for x in range(10)}  # Create a dictionary with tuple keys
d

{(0, 0): 0,
 (1, 2): 1,
 (2, 4): 2,
 (3, 6): 3,
 (4, 8): 4,
 (5, 10): 5,
 (6, 12): 6,
 (7, 14): 7,
 (8, 16): 8,
 (9, 18): 9}

Task 

1- create dictinoary with tuble values 

2- range from 5 to 56 

3- condition numbers more than 12

4- key  ,  value  > tuble value *2  , sqrt value

In [ ]:
d = { x : (x*2, (sqrt(x))) for x in range(5,56) if x > 12}  # Create a dictionary with tuple keys
d

{13: (26, 3.605551275463989),
 14: (28, 3.7416573867739413),
 15: (30, 3.872983346207417),
 16: (32, 4.0),
 17: (34, 4.123105625617661),
 18: (36, 4.242640687119285),
 19: (38, 4.358898943540674),
 20: (40, 4.47213595499958),
 21: (42, 4.58257569495584),
 22: (44, 4.69041575982343),
 23: (46, 4.795831523312719),
 24: (48, 4.898979485566356),
 25: (50, 5.0),
 26: (52, 5.0990195135927845),
 27: (54, 5.196152422706632),
 28: (56, 5.291502622129181),
 29: (58, 5.385164807134504),
 30: (60, 5.477225575051661),
 31: (62, 5.5677643628300215),
 32: (64, 5.656854249492381),
 33: (66, 5.744562646538029),
 34: (68, 5.830951894845301),
 35: (70, 5.916079783099616),
 36: (72, 6.0),
 37: (74, 6.082762530298219),
 38: (76, 6.164414002968976),
 39: (78, 6.244997998398398),
 40: (80, 6.324555320336759),
 41: (82, 6.4031242374328485),
 42: (84, 6.48074069840786),
 43: (86, 6.557438524302),
 44: (88, 6.6332495807108),
 45: (90, 6.708203932499369),
 46: (92, 6.782329983125268),
 47: (94, 6.855654600401044),
 48: (96, 6.928203230275509),
 49: (98, 7.0),
 50: (100, 7.0710678118654755),
 51: (102, 7.14142842854285),
 52: (104, 7.211102550927978),
 53: (106, 7.280109889280518),
 54: (108, 7.3484692283495345),
 55: (110, 7.416198487095663)}

### Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
x = 10
y = x * 2
z = y / 5
z

4.0

In [ ]:
x = 15
y = x * 2
z = y / 5
z

6.0

In [ ]:
x = 20
y = x * 2
z = y / 5
z

8.0

In [3]:
def calc(x):  #def   function_name
    y=x*2
    z= y/5
    print(z)  

calc(x=10)

4.0

In [6]:
def calc(x):  #def   function_name
    y=x*2
    z= y/5

    return (z)

g = calc(10)  #assigning
g

4.0

task 

create function takes two input (parameters) 

print sum 

 print diff
 
print multi 

save division

In [8]:
def info(c,f=None):
    # print(f)
    # print(c)
    # c = c*2
    return c,f

# info(c='mahm')
b , d = info(c='mahm',f='AI')

print(b)
print(d)

mahm
AI

In [ ]:
a = False
b = True

if a:
    print(1)
    
elif a or b:
    print(2)
else:
    print(3)

# &  == and
# | == or 
# ~ == not

task 

create function

name sign

1 input number 

check number positive print positive

negative print negative

print 0

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(x,sign(x))

-1 negative
0 zero
1 positive

We will often define functions to take optional keyword arguments, like this:

In [10]:
def hello(name, upper):
    if upper:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

# hello('Bob')
hello(name = 'mohamed',upper = False)

Hello, mohamed!