# Session 4

In [4]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
d

{'cat': 'cute', 'dog': 'furry'}

In [5]:
d['dog']

'furry'

In [6]:
del d['dog']        # Remove an element from a dictionary

In [7]:
print(d.get('dog', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [8]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for key, legs in d.items():   # enumerate
    print(f'A {key} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

task 

1- create list range 3,20  by for loop  

3- if condition greater than 11 

4- print value * 10 + 2

In [9]:
for num in range(3,20):
    if num > 11:
        print(num * 10 +2)

122
132
142
152
162
172
182
192

#### 3- Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [10]:
list1 = ['ahmed','mahm', 'mahm']
list1

['ahmed', 'mahm', 'mahm']

In [ ]:
len(list1)

3

In [ ]:
set1 = {'ahmed','mahm', 'mahm'} # curly bracket
set1

{'ahmed', 'mahm'}

In [ ]:
len(set1)

2

In [11]:
animals = {'cat', 'dog'}

print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [12]:
animals

{'cat', 'dog'}

In [13]:
animals.add('cat')      # Add an element to a set

In [18]:
animals.add('Pobby')      # Add an element to a set

In [19]:
animals

{'Pobby', 'cat', 'dog'}

In [20]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
4

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print(f'{idx + 1} {animal}')

1 fish
2 cat
3 dog

task 

1- make set using range 

2- value from 22 to 66

3- make operation (sqrt + value * 2)  using for loop 

Bonus :

4- put condition number is divided by 3

In [29]:
from math import sqrt

sett = set((range(22,66)))

print(sett)

for i in sett:
    if i % 3 ==0:
        print(i,'>> ', sqrt(i)+i*2)

{22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65}
24 >>  52.89897948556636
27 >>  59.19615242270663
30 >>  65.47722557505166
33 >>  71.74456264653803
36 >>  78.0
39 >>  84.2449979983984
42 >>  90.48074069840786
45 >>  96.70820393249937
48 >>  102.92820323027551
51 >>  109.14142842854285
54 >>  115.34846922834953
57 >>  121.54983443527075
60 >>  127.74596669241484
63 >>  133.93725393319377

#### 4- Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [1]:
d = (1 ,  4.1 ,'Ai')
d

(1, 4.1, 'Ai')

In [2]:
d[2] = 5

TypeError: 'tuple' object does not support item assignment

In [4]:
d.append(5)

AttributeError: 'tuple' object has no attribute 'append'

Task 

1- create dictinoary with tuble values 

2- key  ,  value  > tuble value

In [5]:
dicct = {
         'Book1':('Action',8.5),
         'Book2':('Romance',6)
         }
dicct

{'Book1': ('Action', 8.5), 'Book2': ('Romance', 6)}

Task :

write 2 dictionary  ,  3 Key with values

name , phone , address

expect output using string formating

Name: Alice, Phone: 123-456-7890 , address

Name: Bob, Phone: 987-654-3210 , address

In [9]:
dic1=    {"name": "Alice", "phone": "123-456-7890", "email": "alice@example.com"}
dic2=    {"name": "Bob", "phone": "987-654-3210", "email": "bob@example.com"}
dic2

{'name': 'Bob', 'phone': '987-654-3210', 'email': 'bob@example.com'}

In [10]:
contacts = [dic1,   dic2 ]

In [13]:
for contact in contacts:
        name = contact["name"]
        phone = contact["phone"]
        email = contact["email"]
        print(f"Name: {name}, Phone:  {phone} ,email: {email} ")

Name: Alice, Phone:  123-456-7890 ,email: alice@example.com
Name: Bob, Phone:  987-654-3210 ,email: bob@example.com

Containers : list   dict   set   tuble 

for loop    - if condition

Functions

### Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
x = 10
y = x * 2
z = y / 5
z

4.0

In [ ]:
x = 15
y = x * 2
z = y / 5
z

6.0

In [ ]:
x = 20
y = x * 2
z = y / 5
z

8.0

In [3]:
def calc(x):  #def   function_name
    y=x*2
    z= y/5
    print(z)  

calc(x=10)

4.0

In [6]:
def calc(x):  #def   function_name
    y=x*2
    z= y/5

    return (z)

g = calc(10)  #assigning
g

4.0

task 

create function takes two input (parameters) 

print sum 

 print diff
 
print multi 

save division

In [8]:
def info(c,f=None):
    # print(f)
    # print(c)
    # c = c*2
    return c,f

# info(c='mahm')
b , d = info(c='mahm',f='AI')

print(b)
print(d)

mahm
AI

In [ ]:
a = False
b = True

if a:
    print(1)
    
elif a or b:
    print(2)
else:
    print(3)

# &  == and
# | == or 
# ~ == not

task 

create function

name sign

1 input number 

check number positive print positive

negative print negative

print 0

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(x,sign(x))

-1 negative
0 zero
1 positive

We will often define functions to take optional keyword arguments, like this:

In [10]:
def hello(name, upper):
    if upper:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

# hello('Bob')
hello(name = 'mohamed',upper = False)

Hello, mohamed!